@charset "UTF-8";
@font-face {
    font-family: 'netflix';
    src: url(fonts/Netflix\ Sans\ Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'netflix', Arial, Helvetica, sans-serif;
}

header{
    background-image: url(fundonetflix.jpg);
    height: 100vh;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
}

header p{
    font-size: 26px;
}

header h2, header p, header h1{
    text-align: center;
    color: white;
    font-weight: normal;
}

header > input{
    text-align: right;
}

#txt{
    font-size: 19px;
}

div{
    text-align: center;
}

#email{
    padding: 12px;
    width: 40vw;
}

.botao{
    background-color: red;
    color: white;
    margin-left: -5px;
    padding: 12px;
}